.section__features{
    background: linear-gradient( #F6F5F5, #FFFFFF, #F4F3F3);
    width: 1440px;
    height: 637px;
    flex-shrink: 0; 
    padding: none;
    display: flex;
    gap: 204px;
}

.section_features-title{
    width: 383.406px; 
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-style: normal;
    line-height: 50px; 
    margin-bottom: 20px;
    font-weight: 500;
}

.section_features-subtitle{
    width: 427.879px;
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 20px;
}

.section__features-illustration{
    display: flex;
    width: 508.12px;
    height: 417.075px;
    padding: none; 
    flex-shrink: 0;    
    margin-top: 73px; 
    margin-left: 166px;
}

.section__features-right{
    margin-right: 40.76px;
    margin-top: 129.93px;
    
}

.section__features-list{
    list-style: none;
    align-items: center;
    
}

.features-list{
    display: flex;
    gap: 10.08px;
    margin-bottom: 15px;
}

.section__features-list a{
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.section__features-list img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}